@import "tailwindcss";

body{
  font-family: poppins, sans-serif;
}

.binaryBG{
  background-image: url('./assets/hex.gif');
  background-position: center;
}

.my-img{
  background-image: url('./assets/myImg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}